.formulario{
    margin-left: 35%;
    margin-top: 15%;
    font-size: 250%;
}

.numero1{
    padding-right: 600px;
}


.numero2{
    padding-left: 10px;
    margin-top: 1%;
   
}

.numero3{
    padding-left: 500px;
}




.total{
    margin-top: 1%;
}

.label1{
    padding-left: 2%;
}


.inputNum1{
    padding-left: 2%;
}


.inputNum2{
    padding-left: 2%;
}

.inputNum3{
    margin-left: 5%;
}


.inputNum4{
    padding: 10px 20px;
    margin-top: 50px;
}

.inputNum5{
    margin-right: 90%;
    margin: 0% 19%;
    padding: 10px 20px;
    margin-bottom: 60vh;
}

